<section>
    <h1> <span>Economize</span> dinheiro enquanto investe
    em sua Educação<span>.</span></h1>
    <p>A nossa empresa educacional tem como obrigação fornecer aos nossos <br> alunos uma educação de qualidade.</p>
    <img src="/img/aluno.png"  class="produto"  alt="foto aluno">
</section>